[project]
	description = Go code for the open source pipeline
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gregory Russell (gfr10598)
[access "refs/for/refs/*"]
	read = group user/Gregory Russell (gfr10598)
	push = group user/Gregory Russell (gfr10598)
	label-Code-Review = -2..+2 group user/Gregory Russell (gfr10598)
	label-Verified = -1..+1 group user/Gregory Russell (gfr10598)
	rebase = group user/Gregory Russell (gfr10598)
	removeReviewer = group user/Gregory Russell (gfr10598)
	submit = group user/Gregory Russell (gfr10598)
[access "refs/heads/*"]
	read = group user/Gregory Russell (gfr10598)
	create = group user/Gregory Russell (gfr10598)
	push = +force group user/Gregory Russell (gfr10598)
	pushMerge = group user/Gregory Russell (gfr10598)
[access "refs/tags/*"]
	push = group user/Gregory Russell (gfr10598)
	push = +force group user/Gregory Russell (gfr10598)
